{% extends "layout.html" %}
{% block content %}
    <div class="card-columns">
        {% for project in projects %}
        <div class="card">
            <div class="card-body">
                <a href="{{ url_for('projects.edit_project', project_id=project.id) }}"><h5 class="card-title">{{ project.title}}</h5></a>
                {% if project.description %}
                    <p>{{project.description}}</p>
                {% endif %}
                <h6 class="card-text">
                    {% for user in project.users %}
                        <a href="{{ url_for('users.edit_user', user_id=user.id) }}"><span class="badge badge-info">{{ user.full_name|truncate(30) }}</span></a>
                    {% endfor %}
                </h6>
                <p class="card-text"><small class="text-muted">Created : {{ project.date_created.strftime('%Y-%m-%d') }}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <h3><a href="{{ url_for('projects.new_project') }}"><span class="badge badge-success"> + </span></a></h3>
    </div>
{% endblock content %}