{% extends "layout.html" %}
{% block content %}
<h1>Welcome to the Manager Demo !</h1>
<p>
    Here you can create user and project, and assign them together !
    You can also create hierarchy amongst users by creating roles for them.
</p>
<p>
    Login with mail : <b>'admina@manager-demo.com'</b> password : <b>'admina'</b> to start.
</p>
<p>
    Login for new users, let's say you create <b>'John Doe'</b>, email will be <b>'johnd@manager-demo.com'</b>, and password <b>'johnd'</b>.
</p>
<p>Enjoy !</p>
{% endblock content %}